<div class="container">
<div class="row">
	  <div class="span6">
<center><h1 style="color:#F2F2F2">nooch labs</h1></center>
</br></br>
  <div class="span6">
<p>We're a team of smart and passionate entrepreneurs in Silicon Valley who 
love experimenting with building cool products that solve real problems.
Our methodology for creating new products involves ensuring that the product has
potential virality or revenue from day 1, and a metric to benchmark the minimal viable product's success prior to building the full feature.</p>
  <center><%= link_to 'Apply to Nooch', new_job_path, :class => 'btn btn-large btn-primary' %></center>
</div>